<header class="site-header">
    <nav>
        <a class="site-title" href="<%- url_for('/') %>">
            <% if (has_config('logo') && has_config('logo.text') && get_config('logo.text')) { %>
            <%= get_config('logo.text') %>
            <% } else { %>
            <%= get_config('title') %>
            <% } %>
        </a>
        <% if (has_config('menu')) { %>
        <div class="nav-links">
            <% for (let i in get_config('menu')) { let menu = get_config('menu')[i]; %>
            <a class="nav-link" href="<%- url_for(menu) %>"><%= i %></a>
            <% } %>
        </div>
        <% } %>
    </nav>
</header>
